
/* tab-responsive */
@media only screen and (max-width: 1020px) {
    .col-6.tab {
        width: 100% !important;
      }

    .middle-side{
        /* margin-bottom: -44%; */
    } 
  }

/* tab-responsive */  



/* mobile-responsive */
@media only screen and (max-width: 600px) {
    .middle-side {
        height: 50vh;
        margin-bottom: -98% !important;
      }

    .email-title{
        font-size: 22px;
    }
    .box-prg{
        padding: 0 4px;
    }
    .contact-prg{
        padding: 14px 0;
        line-height: 22px;
    } 
  }
/* mobile-responsive */  


@media only screen and (max-width: 400px) {
    .middle-side {
        height: 60vh;
      }

    .email-title{
        font-size: 22px;
    }
    .box-prg{
        padding: 0 4px;
    }
    .contact-prg{
        padding: 14px 0;
        line-height: 22px;
    } 
  }