
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.row.main-box {
    width: 100%;
    margin: auto;
    margin-top: 4%;

  }

.row{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-6.tab{
    position: relative;
    /* margin-bottom: 13%; */
}

.top-side {
    text-align: center;
    background: #F5F7FB;
    height: 61px;
    display: block;
    border: none;
    border-radius: 3px;
  }

.top-title {
    font-size: 13px;
    line-height: 3.5rem;
    color: #71706D;
    font-weight: 500;
  }

.paypal-img{
      border-radius: 50%;
      margin-top: -26px;
      z-index: 11;
}
.paypal-img2 {
    margin: auto;
    display: block;
    border-radius: 50%;
  }

.middle-side{
    background: rgb(0,74,150);
    background: radial-gradient(circle, rgba(0,74,150,1) 0%, rgba(0,74,150,1) 49%, rgba(0,124,182,1) 100%);
    margin-top: 64px;
    border-radius: 3px;
    width: 100%;
    height: 145px;
    z-index: -9;
    /* margin-bottom: -25%; */
}

.text-box {
    background: #fff;
    margin: auto;
    width: 85.5%;
    height: auto;
    border-radius: 25px;
    position: absolute;
    top: 79%;
    left: 0;
    right: 0;
    border: 1px solid #2222;
    
}

.email-title{
    font-size: 27px;
    text-align: center;
    padding: 27px 0px;
    font-weight: 500;
    
} 

.box-prg {
    text-align: center;
    font-size: 14px;
    padding: 0 23px;
} 

.btn.btn-primary.sub-btn {
    margin: auto;
    display: block;
    padding: 13px 38px;
    outline: none;
    border: none;
    border-radius: 33px;
    background-color: #0170BA;
    font-weight: 800;
}

.contact-prg {
    font-size: 13px;
    text-align: center;
    line-height: 23px;
    margin-top: 22px;
}

.contact-prg a {
    color: #000;
    text-decoration: none;
    font-weight: 800;

}

#Full_Name, #Email_Address {
    padding: 11px;
    outline: none;
    border: 1px solid #222;
    display: inherit;
    font-size: 16px;
    font-weight: 500;
    border-radius: 22px;
    margin: 17px auto;
  }
  .btn-secondary {
    color: #fff;
    background-color: #0170BA !important;
    border-color: #0170BA !important;
  }

  .text-2 {
    position: absolute;
    top: 230%;
    height: 476px;
    width: 96.5%;
    align-content: center;
    display: flex;
    justify-content: center;
  }
  .contact-list {
    text-align: center;
  }

  .contact-list ul li {
    display: inline-block;
    font-size: 15;
    color: #0070ba;
    padding: 0px 5px;
  }

  .contact-list ul {
    padding-left:0 ;
  }
  .iconbar {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .iconbar a {
    /* margin: 0px 3px; */
    padding: 8px 15px;
    background: #B1B1B1;
    border-radius: 50%;
    font-size: 17px;
    margin: 0px 4px;
    color: #fff;
  }

  .paypal-text {
    text-align: left;
    color: #687173;
    font-size: 14px;
    width: 519px;
    margin-top: 18px;
  }
  .inline-peg {
    text-decoration: none;
    color: #0070BA;
  }